.App {
  text-align: center;
  min-height: 100vh;
}

.header {
  
  font-family: 'Overseer', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}